In [44]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler
import seaborn as sns
import matplotlib.pyplot as plt

df_gen01 = pd.read_csv('solar-power-generation-data/Plant_1_Generation_Data.csv')
df_weather01 = pd.read_csv('solar-power-generation-data/Plant_1_Weather_Sensor_Data.csv')

df_gen02 = pd.read_csv('solar-power-generation-data/Plant_2_Generation_Data.csv')
df_weather02 = pd.read_csv('solar-power-generation-data/Plant_2_Weather_Sensor_Data.csv')

In [51]:
df_gen01['DATE_TIME'] = pd.to_datetime(df_gen01['DATE_TIME'], dayfirst=True)
df_gen02['DATE_TIME'] = pd.to_datetime(df_gen02['DATE_TIME'], dayfirst=True)

In [52]:
df_weather01['DATE_TIME'] = pd.to_datetime(df_weather01['DATE_TIME'])
df_weather02['DATE_TIME'] = pd.to_datetime(df_weather02['DATE_TIME'])

In [53]:
df_gen01_grouped = (
    df_gen01.groupby(['PLANT_ID', 'DATE_TIME'], as_index=False)
    [['AC_POWER', 'DAILY_YIELD', 'TOTAL_YIELD']]
    .sum()
    )

In [55]:
df_gen02_grouped = (
    df_gen02.groupby(['PLANT_ID', 'DATE_TIME'], as_index=False)
    [['AC_POWER', 'DAILY_YIELD', 'TOTAL_YIELD']]
    .sum()
    )

In [57]:
df_gen01_grouped['PLANT_ID'] = df_gen01_grouped['PLANT_ID'].astype(str)
df_weather01['PLANT_ID'] = df_weather01['PLANT_ID'].astype(str)df_final01.nlargest(20, 'AC_POWER')

In [84]:
df_final_01 = pd.merge(
    df_gen01_grouped,
    df_weather01[['PLANT_ID','DATE_TIME','AMBIENT_TEMPERATURE','MODULE_TEMPERATURE','IRRADIATION']],
    on=['PLANT_ID','DATE_TIME'],
    how='inner'
)

In [85]:
df_final_01.nlargest(20, 'AC_POWER')

,PLANT_ID,DATE_TIME,AC_POWER,DAILY_YIELD,TOTAL_YIELD,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
1384,4135001,2020-05-30 12:00:00,29150.212499,56379.500000,1.532856e+08,27.092855,57.691178,1.151102
3110,4135001,2020-06-17 12:15:00,29048.955358,68709.910715,1.560819e+08,28.649095,53.773537,1.031230
2148,4135001,2020-06-07 11:15:00,28999.726786,60431.517856,1.545281e+08,27.467251,58.268178,1.093312
746,4135001,2020-05-23 12:15:00,28516.901786,94647.714285,1.520893e+08,31.265509,63.341829,1.112297
2439,4135001,2020-06-10 12:00:00,28424.751787,65854.660715,1.550615e+08,29.792344,53.135870,1.031183
2151,4135001,2020-06-07 12:00:00,28154.635715,79695.839285,1.545473e+08,28.042243,56.312655,1.017538
1966,4135001,2020-06-05 13:45:00,28086.414284,105964.232144,1.542653e+08,28.032408,55.623794,0.998700
2146,4135001,2020-06-07 10:45:00,28052.478570,47133.875000,1.545148e+08,26.655896,52.524404,1.037922
1767,4135001,2020-06-03 11:45:00,27944.460717,65868.250000,1.538748e+08,28.590588,54.781388,1.019105
2831,4135001,2020-06-14 14:00:00,27895.039285,109916.357143,1.556840e+08,27.848916,59.386079,1.221652
1483,4135001,2020-05-31 12:45:00,27863.723214,86665.232142,1.534749e+08,30.282026,56.958995,1.034330
2727,4135001,2020-06-13 12:00:00,27843.317856,90942.089286,1.554797e+08,29.614476,54.576355,0.958228
1224,4135001,2020-05-28 12:15:00,27749.459999,98953.976190,1.529666e+08,32.299754,60.040743,1.063722
655,4135001,2020-05-22 12:00:00,27677.362499,71682.357142,1.519097e+08,30.824836,62.212090,1.031861
1221,4135001,2020-05-28 11:30:00,27674.167856,78510.357142,1.529462e+08,31.312459,59.503814,1.009763
1386,4135001,2020-05-30 12:30:00,27642.699999,68734.660715,1.532979e+08,28.242209,60.840718,1.122550
332,4135001,2020-05-18 13:45:00,27601.919643,70692.428572,1.512770e+08,27.861279,52.845011,0.971481
744,4135001,2020-05-23 11:45:00,27585.078571,80949.928571,1.520756e+08,30.452373,60.191938,1.003704
564,4135001,2020-05-21 13:15:00,27574.482143,112809.196429,1.517805e+08,31.349815,55.910952,0.961820
1227,4135001,2020-05-28 13:00:00,27568.916071,117991.910715,1.529856e+08,32.915755,60.926743,1.008244

In [63]:
df_gen02_grouped['PLANT_ID'] = df_gen02_grouped['PLANT_ID'].astype(str)
df_weather02['PLANT_ID'] = df_weather02['PLANT_ID'].astype(str)

In [64]:
df_final_02 = pd.merge(
    df_gen02_grouped,
    df_weather02[['PLANT_ID','DATE_TIME','AMBIENT_TEMPERATURE','MODULE_TEMPERATURE','IRRADIATION']],
    on=['PLANT_ID','DATE_TIME'],
    how='inner'
)

In [86]:
df_final_02.nlargest(15, 'AC_POWER')

,PLANT_ID,DATE_TIME,AC_POWER,DAILY_YIELD,TOTAL_YIELD,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
1679,4136001,2020-06-01 12:30:00,25979.760476,73903.952381,1.419223e+10,32.713622,49.316922,0.917015
1586,4136001,2020-05-31 13:15:00,25409.596667,89857.700000,1.374984e+10,35.987415,64.142721,0.960394
1589,4136001,2020-05-31 14:00:00,24595.294286,108660.333333,1.401030e+10,36.761355,62.751713,0.918781
1670,4136001,2020-06-01 10:15:00,24514.154286,41884.266667,1.417921e+10,29.822623,50.489643,0.918448
1584,4136001,2020-05-31 12:45:00,24233.941429,79536.947619,1.403451e+10,34.748582,54.456130,0.860170
1588,4136001,2020-05-31 13:45:00,24214.880476,102602.519048,1.401029e+10,36.074381,62.141483,0.899076
1582,4136001,2020-05-31 12:15:00,23312.861905,70784.390476,1.402238e+10,34.738919,60.833099,0.899810
1581,4136001,2020-05-31 12:00:00,22789.858571,65018.557143,1.403450e+10,33.675138,55.049169,0.813154
1587,4136001,2020-05-31 13:30:00,22600.717619,96814.228571,1.401029e+10,35.825643,63.026533,0.837396
3113,4136001,2020-06-16 11:30:00,22419.533333,51139.133333,1.419392e+10,29.671495,44.916273,0.768459
1585,4136001,2020-05-31 13:00:00,22238.201905,84023.252381,1.381537e+10,35.272652,61.082010,0.863276
1576,4136001,2020-05-31 10:45:00,21708.340000,42561.000000,1.404660e+10,33.314063,57.166491,0.745796
133,4136001,2020-05-16 09:30:00,20727.341429,33962.404762,1.418979e+10,31.737163,54.300581,0.752661
2361,4136001,2020-06-08 15:30:00,20665.066667,121468.785714,1.419309e+10,34.643022,49.407419,0.661846
134,4136001,2020-05-16 09:45:00,20661.109048,39201.461905,1.418980e+10,32.115261,56.264714,0.790836